---
import Github from "../icon/github.astro";
import Npm from "../icon/nodeJs.astro";
import Android from "../icon/android.astro";
import Firefox from "../icon/firefox.astro";
---

<section class="p-1 bg-yellow-300">
  <div class="flex justify-between items-center max-w-[1100px] mx-auto">
    <div class="items-center flex gap-2 py-1">
      {
        Array(5)
          .fill("")
          .map((x, n) => (
            <>
              {n != 0 && <div>&bull;</div>}
              <a class="text-sm hover:text-red-500" href="/">
                Menu {n + 1}
              </a>
            </>
          ))
      }
    </div>
    <div class="items-center flex gap-2 py-1 gap-1">
      <span>Portfolio:</span>
      <a class="text-sm hover:text-red-500" href="https://gihub.com/mzaini30"
        ><Github /></a
      >
      <a
        class="text-sm hover:text-red-500"
        href="https://www.npmjs.com/~mzaini30"><Npm /></a
      >
      <a
        class="text-sm hover:text-red-500"
        href="https://play.google.com/store/apps/dev?id=5401138465689796048"
        ><Android /></a
      >
      <a
        class="firefox text-sm hover:text-red-500"
        href="https://addons.mozilla.org/id/firefox/user/17443701/"
        ><Firefox /></a
      >
    </div>
  </div>
</section>

<style is:global>
  .menuMedsos svg {
    width: 20px;
    height: auto;
  }
  .firefox svg {
    width: 1.5rem;
  }
</style>
