---
// @ts-ignore
import icon from "../gambar/zen-zen.png";
import IconCari from "../icon/cari.astro";
---

<header class="p-5 bg-white w-full">
  <div class="max-w-[1100px] mx-auto flex items-center justify-between">
    <img src={icon} class="w-[50px] h-auto -rotate-19" alt="icon zen zen" />
    <div>
      {
        Array(8)
          .fill("")
          .map((x, n) => (
            <a class="text-sm hover:text-red-500 inline-block px-2" href="/">
              Menu {n + 1}
            </a>
          ))
      }
    </div>
    <div class="select-none cursor-pointer">
      <IconCari />
    </div>
  </div>
</header>
