---
import Layout from "../layout/base.astro";
import MenuAtas from "../bagian/menuAtas.astro";
import MenuKedua from "../bagian/menuKedua.astro";
import PosterBesar from "../bagian/posterBesar.astro";
---

<Layout>
  <div class="sticky top-0">
    <MenuAtas />
    <MenuKedua />
  </div>
  <PosterBesar />
</Layout>
