---
import Layout from "../layout/base.astro";
import MenuAtas from "../bagian/menuAtas.astro";
import MenuKedua from "../bagian/menuKedua.astro";
import PosterBesar from "../bagian/posterBesar.astro";
---

<Layout>
  <div class="melayang">
    <MenuAtas />
    <MenuKedua />
  </div>
  <PosterBesar />
</Layout>

<style>
  .melayang {
    position: sticky;
    top: 0;
  }
</style>
