---
// @ts-ignore
import icon from "../gambar/zen-zen.png";
import LinkKiri from "../bagian/linkKiri.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" href={icon} />
  </head>
  <body>
    <div class="grid grid-cols-12">
      <div class="col-span-2 bg-white min-h-screen border-r p-4 border-black">
        <img src={icon} alt="" class="w-15 -rotate-[5deg]" />
        <LinkKiri link="/" teks="Ringkasan" />
        <LinkKiri link="/" teks="Profil" />
      </div>
      <div class="col-span-7 border-r border-pink-800 bg-pink-100">
        <slot />
      </div>
      <div class="col-span-3 bg-pink-100"></div>
    </div>
  </body>
</html>

<style is:global>
  * {
    word-wrap: break-word;
  }
</style>
